@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-family: 'Fira Sans', sans-serif;
}

header {
    background-color: black;
    padding: 10px;
}

header > h1 > a {
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

header > h2 {
    font-weight: 200;
    font-size: 18px;
    color: white;
}

.content {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.content h1 {
    margin: 0;
    font-weight: 800;
    font-size: 20px;
}

.content h2 {
    margin: 0 5px;
    font-weight: 600;
    font-size: 16px;
}

.content p {
    margin: 0 5px;
    font-weight: 400;
    font-size: 16px;
}

footer {
    padding: 10px;
}

footer > a {
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    align-content: stretch;
}

.flex>firstItem {
    flex-basis: 50px;
}

.flex>otherItem {
    flex-basis: 50%;
}