@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-family: 'Fira Sans', sans-serif;
}

header {
    background-color: black;
    padding: 10px;
}

header > h1 > a {
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.content {
    margin: 5px;
    padding: 5px;
    background-color: white;
}

.content h1 {
    margin: 0;
    font-weight: 800;
}

.content h2 {
    margin: 5px 0;
    font-weight: 600;
}

.content p {
    margin: 5px 0;
    font-weight: 400;
}

footer {
    padding: 20px 20px;
}

footer > a {
    font-weight: 800;
    text-decoration: none;
    color: white;
}