@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-family: 'Fira Sans', sans-serif;
}

header {
    background-color: black;
}

header>a>h1 {
    font-weight: 800;
    color: white;
    margin: 10pt;
    font-size: 18pt;
}

header>a {
    text-decoration: none;
}

header>h2 {
    font-weight: 200;
    font-size: 18pt;
    color: white;
    margin: 10pt;
}

header>p {
    color: white;
    font-size: 18pt;
    font-weight: 200;
}

.content {
    border-radius: 5pt;
    margin: 10pt;
    padding: 10pt;
    background-color: white;
}

.content h1 {
    margin: 0;
    font-weight: 800;
    font-size: 20pt;
}

.content h2 {
    margin: 0 5pt;
    font-weight: 600;
    font-size: 16pt;
}

.content p {
    margin: 0 5pt;
    font-weight: 400;
    font-size: 16pt;
}

footer {
    padding: 10pt;
}

footer>a {
    font-weight: 800;
    font-size: 18pt;
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    align-content: stretch;
}

.flex>firstItem {
    flex-basis: 50pt;
}

.flex>otherItem {
    flex-basis: 50%;
}